<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="work.tarea1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        -->
        <activity
            android:name=".asignacionMenu"
            android:label="@string/title_activity_asignacion_menu" />
        <activity
            android:name=".CrudActivities.AsignacionInsertarActivity"
            android:label="@string/title_activity_asignacion_insertar" />
        <activity
            android:name=".CrudActivities.AsignacionConsultarActivity"
            android:label="@string/title_activity_asignacion_consultar" />
        <activity
            android:name=".valoracionMenu"
            android:label="@string/title_activity_valoracion_menu" />
        <activity android:name=".tipoValoracionMenu" />
        <activity android:name=".CrudActivities.InsertarValoracionActivity" />
        <activity android:name=".CrudActivities.ConsultarValoracionActivity" />
        <activity android:name=".CrudActivities.EliminarValoracionActivity" />
        <activity android:name=".CrudActivities.ActualizarValoracionActivity" />
        <activity android:name=".CrudActivities.TipoValoracionInsertarActivity" />
        <activity android:name=".CrudActivities.TipoValoracionConsultarActivity" />
        <activity android:name=".CrudActivities.TipoValoracionActualizarActivity" />
        <activity android:name=".CrudActivities.TipoValoracionEliminarActivity" />
        <activity android:name=".CrudActivities.TipoActividadInsertarActivity" />
        <activity android:name=".CrudActivities.TipoActividadConsultarActivity" />
        <activity android:name=".CrudActivities.TipoActividadActualizarActivity" />
        <activity android:name=".CrudActivities.TipoActividadEliminarActivity" />
        <activity android:name=".tipoActividadMenu" />
        <activity android:name=".CrudActivities.PersonaInsertarActivity" />
        <activity android:name=".TipoPersonaMenuActivity" />
        <activity android:name=".CrudActivities.TipoPersonaInsertarActivity" />
        <activity android:name=".CrudActivities.TipoPersonaConsultarActivity" />
        <activity android:name=".CrudActivities.TipoPersonaActualizarActivity" />
        <activity android:name=".CrudActivities.TipoPersonaEliminarActivity" />
        <activity android:name=".PersonaMenuActivity" />
        <activity android:name=".CrudActivities.PersonaConsultarActivity" />
        <activity android:name=".CrudActivities.PersonaActualizarActivity" />
        <activity android:name=".CrudActivities.PersonaEliminarActivity" />
        <activity android:name=".ActividadMenuActivity" />
        <activity android:name=".CrudActivities.ActividadInsertarActivity" />
        <activity android:name=".CrudActivities.ActividadConsultarActivity" />
        <activity android:name=".CrudActivities.ActividadActualizarActivity" />
        <activity android:name=".CrudActivities.ActividadEliminarActivity" />
        <activity android:name=".CicloMenuActivity" />
        <activity android:name=".CrudActivities.CicloInsertarActivity" />
        <activity android:name=".CrudActivities.CicloActualizarActivity" />
        <activity android:name=".CrudActivities.CicloEliminarActivity" />
        <activity android:name=".CrudActivities.CicloConsultarActivity" />
        <activity android:name=".DisponibilidadMenuActivity" />
        <activity android:name=".CrudActivities.DisponibilidadCicloActualizarActivity" />
        <activity android:name=".CrudActivities.DisponibilidadCicloConsultarActivity" />
        <activity android:name=".CrudActivities.DisponibilidadCicloEliminarActivity" />
        <activity android:name=".CrudActivities.DisponibilidadCicloInsertarActivity" />
        <activity
            android:name=".CrudActivities.AsignacionBorrar"
            android:label="@string/title_activity_asignacion_borrar" />
        <activity
            android:name=".CrudActivities.AsignacionMoficar"
            android:label="@string/title_activity_asignacion_moficar" />
        <activity
            android:name=".horarioMenu"
            android:label="@string/title_activity_horario_menu" />
        <activity
            android:name=".CrudActivities.HorarioInsertar"
            android:label="@string/title_activity_horario_insertar" />
        <activity
            android:name=".CrudActivities.HorarioConsultar"
            android:label="@string/title_activity_horario_consultar" />
        <activity
            android:name=".CrudActivities.HorarioActualizar"
            android:label="@string/title_activity_horario_actualizar" />
        <activity
            android:name=".CrudActivities.HorarioEliminar"
            android:label="@string/title_activity_horario_eliminar" />
        <activity
            android:name=".localMenu"
            android:label="@string/title_activity_local" />
        <activity
            android:name=".CrudActivities.LocalInsertar"
            android:label="@string/title_activity_local_insertar" />
        <activity
            android:name=".CrudActivities.LocalConsultar"
            android:label="@string/title_activity_local_consultar" />
        <activity
            android:name=".CrudActivities.LocalActualizar"
            android:label="@string/title_activity_local_actualizar" />
        <activity
            android:name=".CrudActivities.LocalEliminar"
            android:label="@string/title_activity_local_eliminar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_log_ing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CrudActivities.ActividadFilterFechaActivity" />
        <activity android:name=".CrudActivities.ActividadFilterUserActivity"></activity>
    </application>

</manifest>
